<% form_for :entorno, @entorno, :url => { :action => "save", :id => @entorno, :diagnostico => @diagnostico.id }, :html => {:class => "formee"} do |f| -%>
<table class="principal" width="100%" border="0" align="center" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
  <tr bgcolor="#003366" style="opacity: 0.7;">
    <td align="center"><h4>EJE 2: ENTORNO SALUDABLE</h4></td>
  </tr>
  <tr align="center">
    <td align="center">
      <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr>
          <td width="49%" align="justify"><label>¿Existen áreas verdes en la escuela?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿Se llevan a cabo actividades para el cuidado, preservación y reforestación de las áreas verdes?<em class="formee-req"> *</em></label></td>
        </tr>
        <tr>
          <td align="center">
            <span id="r_areas_verdes_esc" class="InputGroup">
            <label>SI <%= f.radio_button :areas_verdes_esc, "SI", :onclick => "enabled_textarea('', 'entorno_areas_verdes_esc_desc');" %></label>&nbsp;&nbsp;
            <label>NO <%= f.radio_button :areas_verdes_esc, "NO", :onclick => "enabled_textarea('', 'entorno_areas_verdes_esc_desc');" %></label>
            </span>
            <%=f.text_area :areas_verdes_esc_desc, :placeholder => "Especifique...", :disabled => 'disabled' %>
          </td>
          <td>&nbsp;</td>
          <td align="center" >
            <span id="r_cuidado_preserv_reforest" class="InputGroup">
            <label>SI <%= f.radio_button :cuidado_preserv_reforest, "SI", :onclick => "enabled_textarea('', 'entorno_cuidado_preserv_reforest_desc');" %></label>&nbsp;&nbsp;
            <label>NO <%= f.radio_button :cuidado_preserv_reforest, "NO", :onclick => "enabled_textarea('', 'entorno_cuidado_preserv_reforest_desc');" %></label>
            </span>
            <%=f.text_area :cuidado_preserv_reforest_desc, :placeholder => "Especifique...", :disabled => 'disabled' %>
          </td>
        </tr>
        <tr>
        <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify"><label>¿La escuela adopta áreas verdes?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿La institución educativa promueve el cuidado de la salud en la comunidad escolar?<em class="formee-req"> *</em></label></td>
        </tr>
        <tr>
          <td align="center">
            <span id="r_adopta_areas_verdes" class="InputGroup">
            <label>SI <%= f.radio_button :adopta_areas_verdes, "SI", :onclick => "enabled_textarea('', 'entorno_adopta_areas_verdes_desc');"  %></label>&nbsp;&nbsp;
            <label>NO <%= f.radio_button :adopta_areas_verdes, "NO", :onclick => "enabled_textarea('', 'entorno_adopta_areas_verdes_desc');" %></label>
            </span>
            <%=f.text_area :adopta_areas_verdes_desc, :placeholder => "Especifique...", :disabled => 'disabled' %>
          </td>
          <td>&nbsp;</td>
          <td align="center">
            <span id="r_promueve_cuidado_salud" class="InputGroup">
            <label>SI <%= f.radio_button :promueve_cuidado_salud, "SI", :onclick => "enabled_textarea('', 'entorno_promueve_cuidado_salud_desc');" %></label>&nbsp;&nbsp;
            <label>NO <%= f.radio_button :promueve_cuidado_salud, "NO", :onclick => "enabled_textarea('', 'entorno_promueve_cuidado_salud_desc');" %></label>
            </span>
            <%= f.text_area :promueve_cuidado_salud_desc, :placeholder => "Especifique...", :disabled => 'disabled' %>
          </td>
        </tr>
        <tr>
        <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify"><label>¿La escuela promueve la activavión de la cartilla de salud?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿La escuela propicia la participación del Sector Salud en temas relacionados al cuidado de la salud?<em class="formee-req"> *</em></label></td>
        </tr>
        <tr>
          <td align="center">
            <span id="r_promueve_activacion_cartilla" class="InputGroup">
            <label>SI <%= f.radio_button :promueve_activacion_cartilla, "SI" %></label>&nbsp;&nbsp;
            <label>NO <%= f.radio_button :promueve_activacion_cartilla, "NO" %></label>
            </span>
          </td>
          <td>&nbsp;</td>
            <td><%=f.select :participacion_sector_salud, [":: SELECCIONA UNA OPCIÓN","HIGIENE PERSONAL", "ALIMENTACIÓN", "EDUCACIÓN SEXUAL Y REPRODUCTIVA", "DROGADICCIÓN", "BULLYNG"] %></td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify"><label>¿La escuela promueve la activación física en la comunidad educativa?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿Cuál es el tiempo destinado para la activación física escolar?<em class="formee-req"> *</em></label></td>
        </tr>
        <tr>
          <td align="center">
            <span id="r_promueve_activacion_fisica" class="InputGroup">
            <label>SI <%= f.radio_button :promueve_activacion_fisica, "SI", :onclick => "enabled_textarea('', 'entorno_tiempo_activacion_fisica');" %></label>&nbsp;&nbsp;
            <label>NO <%= f.radio_button :promueve_activacion_fisica, "NO", :onclick => "enabled_textarea('', 'entorno_tiempo_activacion_fisica');" %></label>
            </span>
          </td>
          <td>&nbsp;</td>
            <td><%= f.text_area :tiempo_activacion_fisica, :placeholder => "Especifique...", :disabled => 'disabled' %></td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify"><label>¿El tipo de suelo es el apropiado para siembra de árboles o cultivo de hortalizas?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿La escuela cuenta con espacio físico para la reforestación, preparación de jardines o huertos escolares?<em class="formee-req"> *</em></label></td>
        </tr>
        <tr>
          <td><%= f.text_area :tipo_suelo, :placeholder => "Especifique..."%></td>
          <td>&nbsp;</td>
          <td><%= f.text_area :esc_espacio_fisico, :placeholder => "Especifique..."%></td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td width="49%" align="justify"><label>¿En los alrededores o espacios anexos a la escuela se cuenta con áreas verdes?<em class="formee-req"> *</em></label></td>
          <td>&nbsp;</td>
          <td width="49%" align="justify"><label>¿El aire que se respira se considera libre de contaminantes?<em class="formee-req"> *</em></label></td>
        </tr>
        <tr>
          <td><%= f.text_area :alrededores_cuenta_av, :placeholder => "Especifique..."%></td>
          <td>&nbsp;</td>
          <td><%= f.text_area :aire_libre_contaminantes, :placeholder => "Especifique..."%></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
          </td>
          <td>
            <a href="<%= diagnosticos_path%>" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% end %>

<script type="text/javascript">
enabled_textarea('entorno_areas_verdes_esc','entorno_areas_verdes_esc_desc');
enabled_textarea('entorno_cuidado_preserv_reforest','entorno_cuidado_preserv_reforest_desc');
enabled_textarea('entorno_adopta_areas_verdes','entorno_adopta_areas_verdes_desc');
enabled_textarea('entorno_promueve_cuidado_salud','entorno_promueve_cuidado_salud_desc');
enabled_textarea('entorno_promueve_activacion_fisica','entorno_tiempo_activacion_fisica');

var areas_verdes_esc_desc = new LiveValidation( 'entorno_areas_verdes_esc_desc', {onlyOnSubmit: true} );
areas_verdes_esc_desc.add( Validate.Presence );
var cuidado_preserv_reforest_desc = new LiveValidation( 'entorno_cuidado_preserv_reforest_desc', {onlyOnSubmit: true} );
cuidado_preserv_reforest_desc.add( Validate.Presence );
var adopta_areas_verdes_desc = new LiveValidation( 'entorno_adopta_areas_verdes_desc', {onlyOnSubmit: true} );
adopta_areas_verdes_desc.add( Validate.Presence );
var promueve_cuidado_salud_desc = new LiveValidation( 'entorno_promueve_cuidado_salud_desc', {onlyOnSubmit: true} );
promueve_cuidado_salud_desc.add( Validate.Presence );
var participacion_sector_salud = new LiveValidation( 'entorno_participacion_sector_salud' );
participacion_sector_salud.add( Validate.Exclusion, { within: [':: SELECCIONA UNA OPCIÓN'] });
var tiempo_activacion_fisica = new LiveValidation( 'entorno_tiempo_activacion_fisica', {onlyOnSubmit: true} );
tiempo_activacion_fisica.add( Validate.Presence );
var tipo_suelo = new LiveValidation( 'entorno_tipo_suelo', {onlyOnSubmit: true} );
tipo_suelo.add( Validate.Presence );
var esc_espacio_fisico = new LiveValidation( 'entorno_esc_espacio_fisico', {onlyOnSubmit: true} );
esc_espacio_fisico.add( Validate.Presence );
var alrededores_cuenta_av = new LiveValidation( 'entorno_alrededores_cuenta_av', {onlyOnSubmit: true} );
alrededores_cuenta_av.add( Validate.Presence );
var aire_libre_contaminantes = new LiveValidation( 'entorno_aire_libre_contaminantes', {onlyOnSubmit: true} );
aire_libre_contaminantes.add( Validate.Presence );

jQuery(function(){
  jQuery("#r_areas_verdes_esc").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_cuidado_preserv_reforest").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_adopta_areas_verdes").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_promueve_cuidado_salud").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_promueve_activacion_cartilla").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
  jQuery("#r_promueve_activacion_fisica").validate({ expression: "if (isChecked(SelfID)) return true; else return false;", message: "Seleccione una opción!" });
});
</script>