<div class="titulos">
  Listado de Usuarios de la Plataforma
</div>

<!-- Filtro -->
 <% form_tag :action => 'show_results' do -%>

  <table width="95%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr style="background-color:#d33934; color:white">
      <th colspan="5" align="center">FILTROS</th>
    </tr>

    <tr style="background-color:gray; color:white">
      <th align="center"> <b>Clave de la Escuela</b></th>
      <th align="center"> <b>Nombre de la Escuela</b></th>
      <th align="center"> <b>Filtro por estatus</b></th>
      <th align="center">&nbsp;</th>
    </tr>
    <tr>
      <th align="center"><%= text_field_tag :clave_escuela%></th>
      <th align="center"><%= text_field_tag :nombre_escuela%></th>
      <th align="center"><%= select_tag :estatus_escuela, options_from_collection_for_select(Estatu.find(:all), "id", "descripcion"), :prompt => "Select something"%></th>
      <th class="boton"><%= submit_tag "Buscar"%></th>
    </tr>
  </table>
<%end%>









<br />


<p style="text-align: center;">
   <%= link_to image_tag("admin/reload.png", :border =>0) , {:action => "show_users"}, :title => "Recargar"%> 
</p>


<!-- contenido -->


<div id="divlista">
    <table width="80%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid" align="center">
      <tr style="background-color:gray; color:white">
        <th style="vertical-align: middle;">&nbsp;</th>
        <th style="vertical-align: middle;">Login</th>
        <th style="vertical-align: middle;">Nombre de Escuela</th>
        <th style="vertical-align: center;" colspan="3">Acciones</th>
      </tr>
    <%clase=0%>
    <%@usuarios.each do |user|%>
    <tr class="d<%=invert_class(clase)%>">
      <td style="vertical-align: middle;">
      <%=case user.is_blocked?
        when true
            h(image_tag("admin/bloqueado.png", :border =>0))
        when false
            h(image_tag("admin/disponible.png", :border =>0))
        else
            h(image_tag("admin/disponible.png", :border =>0))
        end%>
      </td>

      <td style="vertical-align: middle;"><%=h(user.login.upcase)%></td>
      <%escuela = Escuela.find_by_clave(user.login)? Escuela.find_by_clave(user.login) : nil %>
      <td style="vertical-align: middle;"><%=h (escuela)? escuela.nombre : "----"%></td>
     
      <!-- Acciones -->
      <td style="vertical-align: middle;"><%=button_to "Detalles", {:action => "show", :controller => "escuelas", :id => user}, :class => 'boton'%></td>
      <td style="vertical-align: middle;"><%=button_to "Editar", {:action => "edit_user", :controller => "admin", :id => user}, :class => 'boton'%></td>
      <%if user.is_blocked?%>
        <td style="vertical-align: middle;"><%=button_to "Desbloquear", {:action => "block_user", :id => user}, :confirm => "¿Esta seguro que desea bloquearlo?", :method => :delete, :class => 'boton'%></td>
      <%else%>
        <td style="vertical-align: middle;"><%=button_to "Bloquear", {:action => "block_user", :id => user}, :confirm => "¿Esta seguro que desea bloquearlo?", :method => :delete, :class => 'boton'%></td>
      <%end%>

      <!-- Diagnostico -->
      <%if escuela%>
        <%if Diagnostico.find_by_escuela_id(escuela.id)%>
             <td style="vertical-align: middle;"><%=button_to "Diagnostico", {:action => "show_diagnostico", :id => escuela}, :class => 'boton'%></td>
        <%end%>
      <%end%>

     


    <%clase = invert_class(clase)%>
    </tr>
    <%end%>
  </table>
</div>



<%if current_user.has_role?("admin")%>
  <div class="titulos">
    <br /><%= link_to image_tag("botones/btn_nuevo_usuario.png", :border =>0) , :controller => "admin", :action => "new_from_admin"%><br /><br /><br />
  </div>
<%end%>


<div class="titulos">
<%= link_to image_tag("botones/btn_regresar.png", :border =>0) , :controller => "admin", :action => "index"%><br />
</div>


