<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
-->
<!doctype html>
<html lang="en">

  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Educar con Responsabilidad Ambiental</title>
<style type="text/css">
<!--
body {
	margin-top: 5px;
	/*background-color: #F0F0F0;*/
        background-color: white;
}
-->
</style>
<link rel="stylesheet" type="text/css" href="/stylesheets/era/estilo.css" />

<!--
 <=javascript_include_tag "green/style.css"%>
-->
<!-- formee -->
<%=javascript_include_tag "formee/jquery-1.6.4.min.js"%>
<%=javascript_include_tag "formee/formee.js"%>
<%= stylesheet_link_tag "formee/formee-structure.css"%>
<%= stylesheet_link_tag "formee/formee-style.css"%>

<style type="text/css">
/* fix  ff bugs */
form:after, div:after, ol:after, ul:after, li:after, dl:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}
form {clear:both;}
/*.container {margin:0 auto; height:100%; padding:0 40px;}*/
.container {margin:5px auto 0 auto; width: 90%;  height:100%; padding:15px 0 15px 0; }
.footer, .footer a {color:#fff;}
.left {float:left;}
.right {float:right;}
.topbar {
	background: #fafafa;
	padding: 10px 30px;
  border-bottom:1px solid #e9e9e9;
}
.topbar a{
	color:#777;
	font-size:1.4em;
	text-decoration: none;
}
.topbar a:hover{
	color:#69a4d0;
	text-decoration: underline;
}
.formeebar {
	background: #f5f5f5;
	padding:30px;
  border-bottom:1px solid #e9e9e9;
  margin-bottom:40px;
}
.formeebar a {color:#fff;font-size:1.4em;text-decoration: none;}
.formeebar h1 {
  clear:both;
  float:left;
}
.formeebar h1 a{
  /*background: transparent url(img/formee-logo.png) no-repeat left top;*/
  text-indent:-9999px;
  overflow: hidden;
  width:147px;
  height: 50px;
  display: block;
}
.formeebar h2 {
	color:#520026;
	font-size:2.0em;
	font-weight:normal;
	float:right;
	display:inline;
	margin-top:20px;
}

.link-to {
	font-size:2.4em;
	letter-spacing:-.02em;
	line-height:1em;
	color:#EA0076;
	float:right;
	margin-bottom:2em;
}
/* footer */
.footer {background: #520026;padding:30px 0;margin-top:40px;color:#fff;}
.footer p {line-height:1.1em; font-size:1.2em; margin-bottom:.3%;}
.footer a {color:#F0CF73;font-size:1.4em;text-decoration: none;}
</style>

<script type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<style type="text/css">
<!--
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
-->
</style></head>

<body onload="MM_preloadImages('/images/era/iconos/facebook_322.png','/images/era/iconos/twitter_322.png','/images/era/iconos/skype_322.png','/images/era/iconos/youtube_322.png','/images/era/iconos/blogger_322.png','/images/era/iconos/myspace_322.png','/images/era/iconos/picasa_322.png','/images/era/btns_cert/btn_man2.png','/images/era/btns_cert/btn_reg2.png','/images/era/btns_cert/btn_que2.png','/images/era/btns_cert/btn_dia2.png','/images/era/btns_cert/btn_pro2.png','/images/era/btns_cert/btn_ava2.png','/images/era/btns_cert/btn_res2.png')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3"><img src="/images/era/ban.jpg" width="900" height="104" /></td>
  </tr>
  <tr>
    <td colspan="3"><img src="/images/era/space.png" width="10" height="5" /></td>
  </tr>
  <tr>
    <td colspan="3" valign="top" class="fnd_cert"><table width="900" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
        </tr>
      <tr>
        <td colspan="3">
        <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50" align="right"><img src="/images/era/iconos/ico_arbol.png" alt="2" width="34" height="17" /></td>
            <td width="40" class="Txt_arbol"><a href="index.html" class="Txt_arbol">Inicio</a></td>
            <td width="34" align="center"><img src="/images/era/iconos/ico_arbol.png" alt="1" width="34" height="17" /></td>
            <td width="120" class="Txt_arbol"><a href="acercade.html" class="Txt_arbol">Certificación ESyS</a></td>

            <!-- nombre de escuela -->
              <%if logged_in?%>
                   <td width="34" align="center"><img src="/images/era/iconos/ico_arbol.png" alt="1" width="34" height="17" /></td>
                   <td width="180" class="Txt_arbol"><a href="/home" class="Txt_arbol"><%=h (@esc = Escuela.find_by_clave(current_user.login)) ? @esc.nombre : nil%></a></td>
                   <td width="34" align="center"><img src="/images/era/iconos/ico_arbol.png" alt="1" width="34" height="17" /></td>
                   <td width="120" class="Txt_arbol"><a href="/home" class="Txt_arbol"><%=link_to "Cerrar Sesión", :action => "destroy", :controller => "sessions"%></a></td>
              <%else%>
                   <td width="34" align="center"><img src="/images/era/iconos/ico_arbol.png" alt="1" width="34" height="17" /></td>
                   <td width="120" class="Txt_arbol"><a href="/home" class="Txt_arbol"><%=link_to "Iniciar Sesión", :action => "new", :controller => "sessions"%></a></td>
              <%end%>

            <td>&nbsp;</td>
          </tr>
        </table>
        </td>
        </tr>
      <tr>
        <td width="606">&nbsp;</td>
        <td colspan="2" rowspan="5" align="center"><a href="<%=h "http://#{SITE_URL}"%>"><img src="/images/era/logo.png" width="282" height="154" /></a></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td valign="bottom"><img src="/images/era/btn_ESyS.png" width="512" height="43" /></td>
        </tr>
      <tr>
        <td colspan="3"><img src="/images/era/space.png" width="10" height="10" /></td>
        </tr>
      <tr>
        <td colspan="3" align="center" valign="middle" class="fnd_bar_sub"><table width="875" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><a href="/home/certificacion_esys" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image38','','/images/era/btns_cert/btn_que2.png',1)"><img src="/images/era/btns_cert/btn_que1.png" name="Image38" width="100" height="33" border="0" id="Image38" /></a></td>
            <td><a href="/home/certificacion_manual" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image39','','/images/era/btns_cert/btn_man2.png',1)"><img src="/images/era/btns_cert/btn_man1.png" name="Image39" width="100" height="33" border="0" id="Image39" /></a></td>
            <td><a href="/registro" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image32','','/images/era/btns_cert/btn_reg2.png',1)"><img src="/images/era/btns_cert/btn_reg1.png" name="Image32" width="100" height="33" border="0" id="Image32" /></a></td>
            <td><a href="/home/certificacion_diagnostico" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image33','','/images/era/btns_cert/btn_dia2.png',1)"><img src="/images/era/btns_cert/btn_dia1.png" name="Image33" width="100" height="33" border="0" id="Image33" /></a></td>
            <td><a href="/home/certificacion_proyecto" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image34','','/images/era/btns_cert/btn_pro2.png',1)"><img src="/images/era/btns_cert/btn_pro1.png" name="Image34" width="100" height="33" border="0" id="Image34" /></a></td>
            <td><a href="/home/certificacion_avances" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image35','','/images/era/btns_cert/btn_ava2.png',1)"><img src="/images/era/btns_cert/btn_ava1.png" name="Image35" width="100" height="33" border="0" id="Image35" /></a></td>
            <td><a href="/home/certificacion_evidencias" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image36','','/images/era/btns_cert/btn_evi2.png',0)"><img src="/images/era/btns_cert/btn_evi1.png" name="Image36" width="100" height="33" border="0" id="Image36" /></a></td>
            <td><a href="/home/certificacion_resultado" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image37','','/images/era/btns_cert/btn_res2.png',1)"><img src="/images/era/btns_cert/btn_res1.png" name="Image37" width="100" height="33" border="0" id="Image37" /></a></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
      </tr>

      <!-- Contenido principal -->


      <tr>
        <td colspan="3">

		
                  <%if flash[:notice]%>
                       <div class="formee-msg-success">
                         	<h3>Operación realizada exitosamente:</h3>
                                <ul>
                                    <li><%=flash[:notice]%></li>
                                </ul>
                       </div>
                  <%elsif flash[:error]%>
                        <div class="formee-msg-error">
                          <h3>Error:</h3>
                             <ul>
                                 <li><%=flash[:error]%></li>
                             </ul>
                        </div>
                  <%else%>
                    <p></p>
                  <%end%>
                  <!-- contenido -->
                  <%=yield%>


        </td>
      </tr>



      <!-- termina contenido principal -->
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" align="center" valign="middle" class="fnd_transp"><table width="850" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="200" rowspan="5"><img src="/images/era/logo_blanco.png" width="182" height="99" /></td>
            <td align="right"><table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="40"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image24','','/images/era/iconos/facebook_322.png',1)"><img src="/images/era/iconos/facebook_32.png" name="Image24" width="32" height="32" border="0" id="Image24" /></a></td>
                <td width="40"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image25','','/images/era/iconos/twitter_322.png',1)"><img src="/images/era/iconos/twitter_32.png" name="Image25" width="32" height="32" border="0" id="Image25" /></a></td>
                <td width="40"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image26','','/images/era/iconos/skype_322.png',1)"><img src="/images/era/iconos/skype_32.png" name="Image26" width="32" height="32" border="0" id="Image26" /></a></td>
                <td width="40"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image27','','/images/era/iconos/youtube_322.png',1)"><img src="/images/era/iconos/youtube_32.png" name="Image27" width="32" height="32" border="0" id="Image27" /></a></td>
                <td width="40"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image28','','/images/era/iconos/blogger_322.png',1)"><img src="/images/era/iconos/blogger_32.png" name="Image28" width="32" height="32" border="0" id="Image28" /></a></td>
                <td width="40"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image29','','/images/era/iconos/myspace_322.png',1)"><img src="/images/era/iconos/myspace_32.png" name="Image29" width="32" height="32" border="0" id="Image29" /></a></td>
                <td><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image30','','/images/era/iconos/picasa_322.png',1)"><img src="/images/era/iconos/picasa_32.png" name="Image30" width="32" height="32" border="0" id="Image30" /></a></td>
              </tr>
            </table></td>
            </tr>
          <tr>
            <td align="right"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
          </tr>
          <tr>
            <td><div align="center"><img src="/images/era/linea.png" width="650" height="2" /></div></td>
            </tr>
          <tr>
            <td align="center"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
          </tr>
          <tr>
            <td align="center"><span class="Txt_piepagina">Edificio Anexo de la Subsecretaria de Educación Federalizada (SEF),
3er. Piso<br />
Calzada Mayor Julio Sabines S/N,
Col. 24 de Junio, Tuxtla Gutiérrez, Chiapas.<br />
Teléfono: (961) 61 70800 Ext. 41270<br />
Correo Electrónico: <a href="mailto:era.chiapas@gmail.com" class="Txt_piepagina">era.chiapas@gmail.com</a></span></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
        </tr>
      <tr>
        <td colspan="3" align="right"><img src="/images/era/pie_pag.jpg" width="900" height="101" /></td>
        </tr>
    </table></td>
  </tr>
</table>
<div align="center"></div>
</body>
</html>