<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>Educar con Responsabilidad Ambiental</title>
    <link rel="stylesheet" href="/stylesheets/green/style.css">
    <%=javascript_include_tag "green/style.css"%>
    <%= stylesheet_link_tag "oficial"%>
    <%= javascript_include_tag 'defaults'%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="javascripts/green/slides.min.jquery.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>


<!-- formee -->
<%=javascript_include_tag "formee/jquery-1.6.4.min.js"%>
<%=javascript_include_tag "formee/formee.js"%>
<%= stylesheet_link_tag "formee/formee-structure.css"%>
<%= stylesheet_link_tag "formee/formee-style.css"%>
<style type="text/css">
* {margin:0;padding:0;}
/* fix  ff bugs */
form:after, div:after, ol:after, ul:after, li:after, dl:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}
body {background: url(/images/era/fnds/fondo2.jpg) no-repeat; font: normal 10px/1.1em Arial,Sans-Serif;margin:0;padding:0;}
form {clear:both;}
.container {margin:0 auto; height:100%;padding:0 40px;}
.footer, .footer a {color:#fff;}
.left {float:left;}
.right {float:right;}
.topbar {
	background: #fafafa;
	padding: 10px 30px;
  border-bottom:1px solid #e9e9e9;
}
.topbar a{
	color:#777;
	font-size:1.4em;
	text-decoration: none;
}
.topbar a:hover{
	color:#69a4d0;
	text-decoration: underline;
}
.formeebar {
	background: #f5f5f5;
	padding:30px;
  border-bottom:1px solid #e9e9e9;
  margin-bottom:40px;
}
.formeebar a {color:#fff;font-size:1.4em;text-decoration: none;}
.formeebar h1 {
  clear:both;
  float:left;
}
.formeebar h1 a{
  background: transparent url(img/formee-logo.png) no-repeat left top;
  text-indent:-9999px;
  overflow: hidden;
  width:147px;
  height: 50px;
  display: block;
}
.formeebar h2 {
	color:#520026;
	font-size:2.4em;
	font-weight:normal;
	 float:right;
	 display:inline;
	 margin-top:20px;
}

.link-to {
	font-size:2.4em;
	letter-spacing:-.02em;
	line-height:1em;
	color:#EA0076;
	float:right;
	margin-bottom:2em;
}
/* footer */
.footer {background: #520026;padding:30px 0;margin-top:40px;color:#fff;}
.footer p {line-height:1.1em; font-size:1.2em; margin-bottom:.3%;}
.footer a {color:#F0CF73;font-size:1.4em;text-decoration: none;}
</style>

	<!--[if IE]>
	<script type="text/javascript">
	(function(){
	var html5elmeents = "address|article|aside|audio|canvas|command|datalist|details|dialog|figure|figcaption|footer|header|hgroup|keygen|mark|meter|menu|nav|progress|ruby|section|time|video".split('|');
	for(var i = 0; i < html5elmeents.length; i++){
	document.createElement(html5elmeents[i]);
	}
	}
	)();
	</script>
	<![endif]-->
</head>

<body>
	<div id="header-wrap">
		<header class="group">
			
                        <h2><a href="index.html" title="burstudio">ERA</a></h2>
			<div id="call">
				<h4>Conectado como:</h4>
                                <br />
				<h5 class="green">07EPRO209E</h5>
			</div><!-- end call -->



                        <table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3"><img src="/images/era/ban.jpg" width="900" height="104" /></td>
  </tr>
  <tr>
    <td colspan="3"><img src="/images/era/space.png" width="10" height="5" /></td>
  </tr>
  <tr>
    <td colspan="3" valign="top" class="fnd_cert"><table width="900" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
        </tr>
      <tr>
        <td colspan="3"><table width="500" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50" align="right"><img src="/images/era/iconos/ico_arbol.png" alt="2" width="34" height="17" /></td>
            <td width="40" class="Txt_arbol"><a href="index.html" class="Txt_arbol">Inicio</a></td>
            <td width="34" align="center"><img src="/images/era/iconos/ico_arbol.png" alt="1" width="34" height="17" /></td>
            <td width="120" class="Txt_arbol"><a href="acercade.html" class="Txt_arbol">Certificación ESyS</a></td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td width="606">&nbsp;</td>
        <td colspan="2" rowspan="5" align="center"><img src="/images/era/logo.png" width="282" height="154" /></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td valign="bottom"><img src="/images/era/btn_ESyS.png" width="512" height="43" /></td>
        </tr>
      <tr>
        <td colspan="3"><img src="/images/era/space.png" width="10" height="10" /></td>
        </tr>
      <tr>
        <td colspan="3" align="center" valign="middle" class="fnd_bar_sub"><table width="875" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><a href="certificacionESyS.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image38','','/images/era/btns_cert/btn_que2.png',1)"><img src="/images/era/btns_cert/btn_que1.png" name="Image38" width="100" height="33" border="0" id="Image38" /></a></td>
            <td><a href="certificacionManual.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image39','','/images/era/btns_cert/btn_man2.png',1)"><img src="/images/era/btns_cert/btn_man1.png" name="Image39" width="100" height="33" border="0" id="Image39" /></a></td>
            <td><a href="/registro" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image32','','/images/era/btns_cert/btn_reg2.png',1)"><img src="/images/era/btns_cert/btn_reg1.png" name="Image32" width="100" height="33" border="0" id="Image32" /></a></td>
            <td><a href="certificacionDiagnostico.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image33','','/images/era/btns_cert/btn_dia2.png',1)"><img src="/images/era/btns_cert/btn_dia1.png" name="Image33" width="100" height="33" border="0" id="Image33" /></a></td>
            <td><a href="certificacionProyecto.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image34','','/images/era/btns_cert/btn_pro2.png',1)"><img src="/images/era/btns_cert/btn_pro1.png" name="Image34" width="100" height="33" border="0" id="Image34" /></a></td>
            <td><a href="certificacionAvances.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image35','','/images/era/btns_cert/btn_ava2.png',1)"><img src="/images/era/btns_cert/btn_ava1.png" name="Image35" width="100" height="33" border="0" id="Image35" /></a></td>
            <td><a href="certificacionEvidencias.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image36','','/images/era/btns_cert/btn_evi2.png',0)"><img src="/images/era/btns_cert/btn_evi1.png" name="Image36" width="100" height="33" border="0" id="Image36" /></a></td>
            <td><a href="certificacionResultado.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image37','','/images/era/btns_cert/btn_res2.png',1)"><img src="/images/era/btns_cert/btn_res1.png" name="Image37" width="100" height="33" border="0" id="Image37" /></a></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
      </tr>
      </table>
                        </table>



                       
			<nav class="group">
				<ul>
                                        <li class="home" title="inicio"><a href="/home">Inicio</a></li>
                                        <li><a href="#" title="">¿Qué es?</a></li>
					<li><a href="#" title="">Manual</a></li>
					<li><a href="/registro" title="">Registro</a></li>
					<li><a href="#" title="">Diagnóstico</a></li>
                                        <li width="10%"><a href="#" title="">Proyecto</a></li>
                                        <li width="10%"><a href="#" title="">Avances</a></li>
                                        <li width="10%"><a href="#" title="">Evidencias</a></li>
                                        <li width="10%"><a href="#" title="">Resultados</a></li>
                                        <!--
                                        <li><a href="/logout" title="">Cerrar sesión</a></li>
                                       -->

					<!--
                                        <li class="last">
						<div>
							<input type="text" name="search" placeholder="Buscar" />
							<input type="submit" name="search" value="go" class="search"/>
						</div>
					</li>
                                        -->
				</ul>
			</nav>
                        
		</header>
	</div><!-- end header wrap -->


              <div id="container">
		<div id="slides">
                  <%if flash[:notice]%>
                       <div class="formee-msg-success">
                         	<h3>Operacion realizada exitosamente:</h3>
                                <ul>
                                    <li><%=flash[:notice]%></li>
                                </ul>
                       </div>
                  <%elsif flash[:error]%>
                        <div class="formee-msg-error"><h3><%=flash[:error]%></h3></div>
                  <%else%>
                    <p></p>
                  <%end%>
                  <!-- contenido -->
                  <%=yield%>

              
		</div><!-- end slides -->
                <!--
		<div id="service">

				<div id="web">
					<img src="/images/green/web.png" />
					<h3>Web <strong><span class="green">Design</span></strong></h3>
					<p>Nunc viverttra erat et turpis viverra pellentesque. Maecenas ullamcorper, nibh tristique ullamcorper lacinia, tellus nisi blandit elit, id pulvinar tortor.</p>
					<p><a href="#" class="readmore">read more</a></p>
				</div><!-- end web 

				<div id="vector">
					<img src="/images/green/vector.png" />
					<h3>Vector <strong><span class="green">Design</span></strong></h3>
					<p>Nunc viverttra erat et turpis viverra pellentesque. Maecenas ullamcorper, nibh tristique ullamcorper lacinia, tellus nisi blandit elit, id pulvinar tortor.</p>
					<p><a href="#" class="readmore">read more</a></p>
				</div><!-- end vector


		</div>
                          -->


                <!-- end service-->

		<div id="media" class="group">
                        <!--
			<div id="video">
				<h4><strong>Multimedia</strong></h4>
				<h5>&nbsp;</h5>
				<a href="/multimedia" class="play"><img src="/images/green/play.png" alt="play" /></a>
			</div>
                        -->
                        <!--
			<div id="twitter">
				<h4>Twitter <strong><span class="green">Feed</span></strong></h4>
				<p class="tweet">Mashable Video: Principal Resigns After Allegedly Posing as a Student on Facebook -<a href="#" class="t-link">http://on.mash.to/IVYWYJ</a></p>
				<p class="time">9 hours ago</p>
			</div>
                        -->
                        <!--
			<div id="facebook">
				<h4>Síguenos en <strong><span class="green">Facebook</span></strong></h4>
			</div>
                        -->
		</div><!-- end media -->
	</div> <!--! end container -->

	<div id="widget-wrap" class="group">
		<div id="widget">
			<div id="links" class="group">
				<h4 class="white">Otras <strong>ligas de interés</strong></h4>
				<ul>
					<li><a href="#">www.semarnat.gob.mx</a></li>
					<li><a href="#">www.escuelaverde.com</a></li>
					<li><a href="#">www.chiapas.gob.mx</a></li>
					<li><a href="#">www.educacionchiapas.gob.mx</a></li>
					<li><a href="#">www.conafor.gob.mx</a></li>
				</ul>
			</div>

                        <div id="video">
				<h4><strong>Multimedia</strong></h4>
				<h5>&nbsp;</h5>
				<a href="/multimedia" class="play"><img src="/images/green/play.png" alt="play" /></a>
			</div>
                        <!--
			<div id="blog">
				<h4 class="footer-header white">Últimas publicaciones del <strong>Blog</strong></h4>
				<img src="/images/green/blog.png" alt="blog" />
				<p class="title">Maecenas iaculis lorem vel dui vulputate non consequat mi congue.</p>
				<p class="date">05.30.2012</p>
				<p><a href="#" class="readmore">leer más</a></p>
			</div><!-- end blog
                        -->

			<div id="location">
				<h4 class="footer-header white">Donde <strong>nos encontramos</strong></h4>
				<img src="/images/green/map.png" alt="map" />
				<p class="address">Unidad Administrativa, Col. Maya
				</br> Tuxtla Gutiérrez</p>
			</div><!-- end location -->
		</div><!-- end widget -->
	</div> <!--! end widget-wrap -->

	<div id="client-wrap" class="group" style="background: white;">
		<div id="client">
			<ul>
				<li><a href="http://www.semarnat.gob.mx"><img src="/images/logos/conafor.png" alt="" /></a></li>
				<li><img src="/images/green/client-2.jpg" alt="" /></li>
				<li><img src="/images/green/client-3.jpg" alt="" /></li>
				<li><img src="/images/green/client-4.jpg" alt="" /></li>
				<li><img src="/images/green/client-5.jpg" alt="" /></li>
			</ul>
		</div><!-- end client -->
	</div><!-- end client-wrap -->

	<footer class="group" style="background: white;">
		<div id="footer-left">
			<p>Copyright <a href="#" class="green">www.educacionchiapas.gob.mx</a> </br>
			Diseñado por: <a href="#" class="green">Dirección de Informática</a></p>
		</div>

		<div id="footer-right">
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Certificacion</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Testimonials</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>

		<a href="#header-wrap"><img src="/images/green/back-top.png" alt="back-top" class="back-top" /></a>
	</footer>


<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				generateNextPrev: true,
			});
		});
</script>

</body>
</html>