<!doctype html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Educar con Responsabilidad Ambiental</title>
<style type="text/css">
body {
	margin-top: 5px;
	/*background-color: #F0F0F0;*/
        background-color: white;
}

</style>
<link rel="stylesheet" type="text/css" href="/stylesheets/era/estilo.css" />

<!-- formee -->
<%=javascript_include_tag "formee/jquery-1.6.4.min.js"%>
<%=javascript_include_tag "formee/formee.js"%>
<%=javascript_include_tag :defaults%>
<%= stylesheet_link_tag "formee/formee-structure.css", :media => 'all'%>
<%= stylesheet_link_tag "formee/formee-style.css", :media => 'all'%>

</head>

<body>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="/images/era/ban.jpg" width="900" height="104" /></td>
  </tr>
  <tr>
    <td><img src="/images/era/space.png" width="10" height="5" /></td>
  </tr>
  <tr>
    <td>
      <%=yield%>
    </td>
  </tr>
  <tr>
    <td><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
  </tr>
  <%#*<tr>%>
    <%#*<td colspan="3" align="right"><img src="/images/era/pie_pag.jpg" width="900" height="185" /></td>%>
  <%#*</tr>%>
</table>
</body>
</html>